@font-face {
  font-family: 'neon';
  src: url('/fonts/NEON.TTF');
}

@font-face {
  font-family: 'moms-diner';
  src: url('/fonts/MomsDiner.ttf');
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f13939, 0 0 40px #fd4545, 0 0 50px #fffeff, 0 0 60px #f52f2f, 0 0 70px #9e2828;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #c00202, 0 0 40px #ee030fc2, 0 0 50px #c00202, 0 0 60px #c00202, 0 0 70px #ff4da6, 0 0 80px #f70808;
  }
}

h1 {
  font-family: 'neon', sans-serif;
  text-align: center;
  color: rgb(248, 0, 0);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

body{
  font-family: 'moms-diner', sans-serif;
  color: white;
  text-align: center;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  background-repeat: none;
  background-image: url("../images/dinerbg.jpg");
  background-color: #ff0000;
  background-size: cover;
}



main{
  margin-right: 20px;
  margin-left: 20px;
}

img:not(.fire){
  width: 35vw;
  height: 35vh;
  border: solid rgb(255, 0, 0) 5px;
}

.fire{
  opacity: 0.7;
  width: 80vw;
  height: 50vh;
  border: solid rgb(255, 0, 0) 5px;
}

 a {
  color: #ff0000;
}
 a:hover {
  color: rgb(255, 255, 255);
 }

 .footer{
  
  color: rgb(235, 225, 225);
  background-color: black;
  height: 12vh;
  padding-block: 20px;
  font-size: larger;
  line-height:22px;
  margin-top: auto;
  margin-bottom: 0px;
 }

 #linked:hover{
  color:rgba(255, 255, 255, 0.397);
 }

 nav {
  background-color: rgb(0, 0, 0);
  padding: 12px;
}

nav ul {
  list-style-type: none;
  margin: 8px;
}

nav li {
  display: inline;
  margin-right: 35px;
}

nav a {
  color: rgb(255, 0, 0);
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.col-sm-6,.showPage{
  background-color: rgba(0, 0, 0, 0.589);
  padding-top: 10px;
  padding-bottom: 15px;
}

.rant-post-box{ 
  background-color: rgba(0, 0, 0, 0.589);
}